<div class="container sm">
  <body>
    <h4>Login as User</h4>
    <form class="container" #newForm="ngForm" (ngSubmit)="Submit(Usermodel)">
      <label for="email"><b>Email</b></label>
      <input
        type="text"
        placeholder="Enter Email"
        name="email"
        [(ngModel)]="Usermodel.email"
        required
      />
      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="psw"
        [(ngModel)]="Usermodel.password"
        required
      />
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn"><span>Login </span></button>

        <button type="submit" class="btn"><span>SignUp </span></button>
      </div>
      <div class="head">
        <a href="/admin"> Signin as Admin</a>
        <b><a href="/forgotpassword"> Forgot Password</a></b>
      </div>
      <footer class="page-footer font-small blue">
        <div class="footer-copyright text-center py-3 h">
          <p>Need an account<a href="/forgotpassword"> Sign Up</a></p>
        </div>
      </footer>
    </form>
  </body>
</div>
